.services-bar .card{
	box-shadow: 3px 5px 15px rgba(0,0,0, .15);
	border: none;
}
.services-bar .card h4.card-header{
	background-color: transparent;
	color: #1273eb;
	font-size: 18px;
	font-weight: 500;
	border: none;
	padding: 0px;
	margin-bottom: 15px;
}

.card-img img{
	width: 100%;
}

.card-img{
	overflow: hidden;
	position: relative;
}

.make-bold{
	
}



